.app {
  position: absolute;
  display: flex;
  height: 100%;;
  width: 100%;
  border: 5px solid lightcoral;
  box-sizing: border-box;

}
.app-navigation {
  background: lightblue;
  height: 100%;
  flex-basis: 200px;
}

.app-navigation-closed{
  flex-basis: 50px;
}

.app-content {
  flex-grow: 1;
  border: 5px solid blue;
}

.react-grid-Container {
  border: 5px solid lightgreen;
  box-sizing: border-box;
}
